html { scroll-behavior: smooth;}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: .5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #009dff;
}

body::-webkit-scrollbar {
    appearance: none;
    width: 0;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 1px 0 1px 0 black;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header .list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
}

header a, .container li a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

darkmode {
    position: fixed;
    background-color: black;
    bottom: 30px;
    right: 20px;
    width: calc(100vw - 91vw);
    height: calc(100vw - 91vw);
    max-width: 70px;
    max-height: 70px;
    min-width: 40px;
    min-height: 40px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
darkmode .fa-moon {
    color: white;
    font-size: 150%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container .title h1 {
    margin: 0;
    font-size: 4rem;
    filter: blur(5px);
    animation: blur 4s forwards;
}

@keyframes blur {
    to {
        filter: blur(0);
    }
}

.container .title p {
    margin: 0;
    justify-self: flex-start;
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: -10px;
}

.container .title li {
    list-style: none;
    font-size: 1.5rem;
    margin-right: 7px;
    color:grey;
}

.container .title ul {
    display: flex;
    margin-left: -10px;
    scroll-margin-top: 60px;
}


.container .title .drop {
    position: absolute;
    top: 85vh;
    border: 15px solid transparent;
    border-top-color: black;
    border-radius: 5px;
    animation: drop 1s ease-in-out infinite alternate;
}

.container .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    scroll-margin-top: 50px;
    min-height: 80vh;
}

.container .about .content {
    width: 80vw;
    max-width: 500px;
    box-shadow: 0 0 5px 0 grey;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.container .about .content h3{
    margin: 0;
}

.container .about .content p {
    text-align: justify;
}

.container .project {
    text-align: center;
    margin-bottom: 20px;
    scroll-margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .project .content .tier {
    box-shadow: 0 0 5px 0 grey;
    padding: 10px;
    position: relative;
    width: 50vw;
    max-width: 300px;
    margin-bottom: 30px;
    margin-left: -25vw;
}

.container .project .content .tier:nth-child(even){
    margin-right: -25vw;
    margin-left: 0;
}


.container .project .content .tier .logo {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 -1px 5px 0 gray;
    left: -20px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}


.container .project .content .logo img {
    border-radius: 50%;
}

.container .project .content .logo i {
    position: relative;
    font-size: 50px;
}

.container .project .content .tier:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 11px solid transparent;
    transform: rotate(45deg);
    border-top-color: black;
}

.container .project .content .tier:nth-child(2) .logo::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    transform: rotate(45deg) translate(0px, -20px);
    z-index: 9;
}

.container .project .content .tier:nth-child(2) .logo::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top-color: white;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: 11;
}

.container .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 40px;
    margin-bottom: 30px;
}

.container .history .content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 500px;
}

.container .history .content .dot {
    background-color: blueviolet;
    position: relative;
    width: 5px;
    /* height: 130px; */
    white-space: nowrap;
    border: 1px solid transparent;
}

.container .history .content .dot::after {
    content: '';
    background-color: blueviolet;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: -7px
}


.container .history .content .dot:nth-child(2)::before {
    content: '';
    background-color: blueviolet;
    position: absolute;
    height: 6px;
    width: 75vw;
    bottom: -1px;
    max-width: 500px;
}

.container .history .right {
    width: 75vw;
    max-width: 500px;
    position: relative;
    display: flex;
}

.container .history .content .right .dot {
    left: 100%;
    top: -3px;
    min-height: 140px;
}

.container .history .content .right .inner {
    position: relative;
    height: fit-content;
    margin-left: -45px;
    max-width: 470px;
    margin-top: 20px;
}


.container .history .content span {
    position: absolute;
    top: -12px;
    left: 15px;
    color: gray;
}

.container .history .content .inner {
    white-space: normal;
    flex-wrap: wrap;
    width: 70vw;
    position: relative;
    top: 30px;
    left: 40px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 grey;
    max-width: 500px;
    margin-bottom: 50px;
}

.container .history .content .inner::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-bottom-color: white;
    top: -40px;
    left: 20px;
}

.container .history .content .inner::before {
    content: '';
    position: absolute;
    border: 22px solid transparent;
    border-bottom-color: rgba(200, 200, 200, .7);
    top: -44px;
    left: 18px;
}

.container .history .content .right .inner::after {
    left: unset;
    right: 20px;
}

.container .history .content .right .inner::before {
    left: unset;
    right: 18px;
}

.container .history .content .right span {
    left: unset;
    right: 20px;
    top: 6px;
}

.container .history .content .right:nth-child(even) span{
    top: -10px;
}

.container .skill {
    scroll-margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .skill h2, .container .skill p {
    margin: 0;
}

.container .skill p {
    margin-bottom: 30px;
    color: grey;
}

.container .skill .content {
    max-width: 500px;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.container .skill .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 gray;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.container .skill .logo span.sharp {
    color: greenyellow;
    text-shadow: 0 0 2px greenyellow;
    display: flex;
    align-items: center;
}

.container .skill .logo span.sharp h2 {
    font-size: 30px;
}

.container .skill .logo i {
    font-size: 50px;
}

.container .skill .logo span {
    color: white;
    margin-top: 10px;
    padding: 3px 5px;
    background-color: gray;
    border-radius: 5px;
}

.container .skill .ignore {
    width: 100vw;
    text-align: center;
}

.container .skill .ignore span {
    position: relative;
    top: -10px;
}

.container .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .contact .content {
    width: 100vw;
    box-shadow: 0 2px 5px 0 grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .contact .content .find {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container .contact .find i {
    font-size: 30px;
    color: grey;
}

.container .contact table {
    width: 150px;
    white-space: nowrap;
}

@keyframes drop {
    from {
       transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
}